{% extends "base.html" %}

{% block title %}Projects - Perfecto Interior{% endblock %}

{% block content %}
<section class="bannr" style="background-image: url(https://placehold.co/1920x520);">
    <div class="container">
      <div class="hero-text-three">
        <h1>Projects</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <a href="index.html">Home</a> </li>
          <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ol>
      </div>
    </div>
  </section>

  <div class="gap">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6">
          <div class="portfolio hover-img-two">
            <figure class="imgg">
              <img src="https://placehold.co/624x501" alt="img">
              <img src="https://placehold.co/624x501" alt="img">
            </figure>
            <a href="projects-details.html">Longwater Avenue</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
          <div class="portfolio hover-img-two">
            <figure class="imgg">
              <img src="https://placehold.co/624x297" alt="img">
              <img src="https://placehold.co/624x297" alt="img">
            </figure>
            <a href="projects-details.html">Urbanest City</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
          <div class="portfolio hover-img-two mb-0">
            <figure class="imgg">
              <img src="https://placehold.co/624x297" alt="img">
              <img src="https://placehold.co/624x297" alt="img">
            </figure>
            <a href="projects-details.html">Lowesmoor Wharf</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="portfolio hover-img-two">
            <figure class="imgg">
              <img src="https://placehold.co/624x297" alt="img">
              <img src="https://placehold.co/624x297" alt="img">
            </figure>
            <a href="projects-details.html">Auriens St John's Wood</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
          <div class="portfolio hover-img-two">
            <figure class="imgg">
              <img src="https://placehold.co/624x297" alt="img">
              <img src="https://placehold.co/624x297" alt="img">
            </figure>
            <a href="projects-details.html">Chapter House Interiors</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
          <div class="portfolio hover-img-two mb-0">
            <figure class="imgg">
              <img src="https://placehold.co/624x501" alt="img">
              <img src="https://placehold.co/624x501" alt="img">
            </figure>
            <a href="projects-details.html">Medius House</a>
            <div class="portfolio-tag">
              <span>Workplace</span>
              <hr>
              <span>12.14.2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="gap project-section" style="background-image: url(https://placehold.co/1920x538);">
    <div class="container">
      <div class="project sec-title-animation animation-style2">
        <h2 class="title-animation">Ready to unlock the potential of your project?</h2>
        <p>tacklin geverything from changes in planningpolicy to home renovation advice</p>
        <a href="#" class="theme-btn hvr-light">Request a Quote</a>
      </div>
    </div>
  </section>
{% endblock %}
