.design-your {
    position: relative;
    margin-bottom: 80px;
    padding-top: 140px;

    @include respond-to("xxl") {
        .heading.two {
            padding-top: 60px;
        }
    }

    @include respond-to("lg") {
        .heading.two {
            padding-top: 00px;
        }
    }


    @include respond-to("xxl") {
        padding-top: 120px;
        background-size: cover;
    }

    @include respond-to("lg") {
        padding-top: 80px;
    }

    @include respond-to("md") {
        padding-top: 60px;
    }

    img.meet-experts-img {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 45%;

        @include respond-to("xl") {
            display: none;
        }
    }

    &::before {
        @include content(.5);
        background-color: $drak-color;
    }

    .heading {
        width: 70%;
        margin: 0;

        @include respond-to("xl") {
            width: 100%;
        }

        h2 {
            color: $white-colour;
        }

        span {
            color: $white-colour;
        }
    }
}

.count-style {
    position: relative;
    padding-top: 10px;

    h2 {
        font-size: 80px;
        color: $theme-colour;
        font-weight: bold;

        @include respond-to("xxl") {
            font-size: 64px;
        }
    }

    sup {
        font-size: 40px;
    }

    p {
        color: $white-colour;

        @include respond-to("xxl") {
            font-size: 13px;
        }
    }
}